{% extends "base.html" %}
{% load i18n static bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/recherche.js"></script>
{% endblock extra_javascript %}

{% block headerContent %}
    <p id="nom">
        {% trans "Bienvenue sur KmA Reports !" %}
    </p>
{% endblock %}

{% block title %}{% trans "Accueil" %}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div class="block">
        <div id="rapport" class="corpshaut">
{#            <h4 class="negatif centre">{% trans "Les pages présentant les Krosmasters ne sont plus correctes !" %}</h4>#}
            <div id="sites" class="colonnes50">
                <h2>{% trans "Liens rapides" %}</h2>
                <span><img src="{{ STATIC_URL }}kma_reports/img/fig_big.png"></span><span><a
                    href="{% url 'top_equipes' %}"
                    title="{% trans "Les plus jouées et les victorieuses" %}"><h4>{% trans "Top Equipes" %}</h4></a></span>
                <h4><span style="color: darkgoldenrod">{% trans "Prochainement" %}</span></h4>
                <UL>
                    <li/>
                    {% trans "Liens vers des Moments forts (QT, CdM, CdF, etc.)" %}
                    <li/>
                    ...
                </UL>
                <h1>{% trans "Recherches" %}</h1>
                <h3>{% trans "Tournois" %} :</h3>
                <div id="recherche_tournois" class="flex-center col-lg-14">
                    <p>
                    {% blocktrans %}Cliquez directement sur "rechercher"<br> ou choisissez 1 ou plusieurs catégories<br> pour affiner votre recherche.{% endblocktrans %}
                    </p>
                    <form id="liste_tournois" action="liste_tournois" method="post" class="form-inline">
                        {% csrf_token %}
                        {% bootstrap_form form_t layout="inline" size="sm" %}
                        <input type="submit" class="btn btn-primary" value="{% trans "Rechercher" %}">
                    </form>
                    ({% blocktrans %}les mois ne sont proposés qu'en fonction d'une année{% endblocktrans %})
                </div>
                <h3>{% trans "Krosmasters" %} :</h3>
                <div class="row">
                <div class="flex-center col-lg-10">
                    <div class="input-group">
                        <input id="Krosmaster" type="text" class="form-control" autocomplete="off" autofocus
                               placeholder="{% trans "Rechercher un Krosmaster..." %}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    ({% blocktrans %}la recherche commence après 2 caractères{% endblocktrans %})
                </div>
                </div>
                <h3>{% trans "Joueurs" %} :</h3>
                <div class="row">
                <div class="flex-center col-lg-10">
                    <p>
                    {% blocktrans %}Pour contribuer à la préservation de l'anonymat,<br> la recherche ne s'effectue que sur les pseudos.{% endblocktrans %}
                    </p>
                    <div class="input-group">
                        <input id="Joueur" type="text" class="form-control" autocomplete="off" autofocus
                               placeholder="{% trans "Rechercher un Joueur..." %}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    ({% blocktrans %}la recherche commence après 2 caractères{% endblocktrans %})
                </div>
                </div>
            </div>
            <div id="dates" class="colonnes50">
                <h2>{% trans "Dernières dates" %}</h2>
                {% with t_ordonnes=tournois|dictsortreversed:"ordre" %}
                    {% for t in t_ordonnes %}
                        <div class="dernieres_dates">
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.infos.id }}"
                               title="{% trans "Vers le tournoi" %}">
                                <div class="dernieres_dates_infos">
                                    <div class="dernieres_dates_bande">
                                        <span class="dernieres_dates_date">
                                            <img src="{{ MEDIA_URL }}{{ t.infos.pays.drapeau }}" width="30" height="20">
                                        </span>
                                        <span class="dernieres_dates_date">
                                            {{ t.infos.date }}&nbsp;
                                            {% if t.infos.krosmasterset and tournoi.krosmasterset.id != 5 %}
                                                <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ t.infos.krosmasterset.id }}.png" title="{{ t.infos.krosmasterset }}" height="20">
                                            {% endif %}
                                        </span>
                                        <span class="dernieres_dates_nbrj">
                                            {{ t.infos.nbr_participants }} {% trans "Joueurs" %}
                                        </span>
                                    </div>
                                    <div class="dernieres_dates_bande">
                                        <div class="dernieres_dates_orga">
                                            <img src="{{ MEDIA_URL }}{{ t.infos.site.logo }}" width="50" height="50">
                                        </div>
                                        {% if t.infos.coorg %}
                                            <div class="dernieres_dates_orga">
                                                <img src="{{ MEDIA_URL }}{{ t.infos.coorg.logo }}" width="50"
                                                     height="50">
                                            </div>
                                        {% endif %}
                                        <div class="dernieres_dates_orga">
                                            <span style="font-size: 120%;">
                                                {{ t.infos.site.nom }}
                                                {% if t.infos.coorg %} & {{ t.infos.coorg.nom }}{% endif %}
                                            </span><br>
                                            {{ t.infos.type }} - {{ t.infos.format }}<br>
                                            {{ t.infos.carte.nom }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% include "snippet_eqj_place.html" %}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}