{% extends "base.html" %}
{% load i18n static bootstrap3 email_obfuscator %}

{% block extra_javascript %}

{% endblock extra_javascript %}

{% block headerContent %}
    <p id="nom">
        KMA Reports : {% trans "page de joueur" %}
    </p>
{% endblock %}

{% block title %}KMA: {% trans "Joueur" %}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div class="block">
        <div id="joueur" class="corpshaut">
            <h1 style="display: inline">{{ display }}</h1><h4 style="display: inline">{{ add }}</h4><br>
            <div id="tournois" class="colonnes50">
                <h2>{% trans "Participation aux tournois" %}</h2>
                <p>{%  blocktrans %}Liste des tournois, présentant un résumé du contexte (QT/TL, Carte, ...)<br>ainsi que les points et la place par rapport au nombre de joueurs{% endblocktrans %}</p>
                {% with t_ordonnes=tournois|dictsortreversed:"timestamp" %}
                    {% for t in t_ordonnes %}
                        <div class="dernieres_dates">
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.id }}" title="{% trans "Vers le tournoi" %}">
                                <div class="derniers_tournois_resume">
                                    <div class="dernieres_dates_bande">
                                        <span class="dernieres_dates_date">
                                            <img src="{{ MEDIA_URL }}{{ t.pays.drapeau }}" width="30" height="20">
                                        </span>
                                        <span class="dernieres_dates_date">
                                            {{ t.date }}&nbsp;
                                            {% if t.krosmasterset and t.krosmasterset.id != 5 %}
                                                <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ t.krosmasterset.id }}.png" title="{{ t.infos.krosmasterset }}" height="20">
                                            {% endif %}
                                        </span>
                                    </div>
                                    <img class="t_map_mini" src="{{ MEDIA_URL }}{{ t.carte.image }}">
                                    <div class="dernieres_dates_bande">
                                        <div class="dernieres_dates_orga">
                                            <img src="{{ MEDIA_URL }}{{ t.site.logo }}" width="50" height="50">
                                        </div>
                                        <div class="infos_place_sur">
                                            {{ t.place }}
                                        </div>
                                        <span style='font-family: "Verdana", Tahoma, Arial, sans-serif; font-size: 25px; font-weight: bold; color: darkgrey; margin: -13px 0 0 5px;'>/</span>
                                        <div class="infos_place_sur">
                                            {{ t.nbr_participants }}
                                        </div>
                                        <span class="dernieres_dates_nbrj">

                                        </span>
                                        <div class="dernieres_dates_orga">
                                            {{ t.site }}<br>
                                            {{ t.type }} - {{ t.format }}<br>
                                            <div class="progress classement_D_mini" title="D0: {% trans "nombre de points" %}">
                                                <div class="progress-bar progress-bar-success classement_D_text"
                                                     aria-valuenow="27" aria-valuemin="0" aria-valuemax="27"
                                                     style="width: {{ t.pts_pct|floatformat:"0" }}%; font-weight: bold">
                                                    &nbsp;{{ t.pts }}&nbsp;Pts
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% include "snippet_eqj_place.html" %}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div id="equipes" class="colonnes50">
                <h2>{% trans "Equipes jouées" %}</h2>
                <p>{% blocktrans %}Pour chacune, vous avez la dernière date à laquelle l'équipe a été jouée <br>et le nombre de fois que le joueur l'a jouée{% endblocktrans %}</p>
                {% with equipes=equipes|dictsortreversed:"timestamp" %}
                    {% for eq in equipes %}
                        <div class="dernieres_equipes">
                            <p class="dernieres_equipes_text">
                                <a href="{% url 'affichage_tournoi' %}?t={{ eq.t.id }}" title="{% trans "Vers le tournoi" %}">{% trans "Jouée pour la dernière fois," %}<br>
                                    {{ eq.date }} - {{ eq.t.site }},<br>
                                    {% trans "sur carte" %} : {{ eq.m }}
                                </a>
                            </p>
                            <span class="infos_eqj_nbrfois">{{ eq.compte }}X</span><a href="{% url 'affichage_equipe' %}?e={{ eq.ideqk }}">{% include "snippet_liste_k_icones.html" %}</a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}