{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block html %}xmlns:og="http://ogp.me/ns#"{% endblock %}

{% block meta %}
  <meta property="og:title" content="Tournoi Krosmaster Arena" />
  <meta property="og:type" content="Rapport" />
  <meta property="og:url" content="https://kma.krosympas.be{% url 'affichage_tournoi' %}?t={{ t_id }}" />
  <meta property="og:image" content="https://kma.krosympas.be/media/ogp/t.{{ t_id }}.{{ LANGUAGE_CODE }}.png" />
{% endblock %}


{% block extra_javascript %}{% endblock extra_javascript %}

{% block headerType %}MenuComplet{% endblock %}

{% block title %}Tournoi ...{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block headerContent %}{% endblock %}

{% block content %}
    <div class="block">
        <div id="infos_tournoi" class="chapeau_affichage">
            <span>
                <div id="pays" class="infos_tournoi">
                    <img src="{{ MEDIA_URL }}{{ tournoi.pays.drapeau }}" title="{{ tournoi.pays.nom }}">
                </div>
                <div id="Date" class="infos_tournoi">
                    {{ tournoi.date }}
                </div>
                <div id="Type" class="infos_tournoi">
                    - {{ tournoi.type }}
                </div>
                {% if tournoi.krosmasterset and tournoi.krosmasterset.id != 5 %}
                    <div id="KrosmasterSet" class="infos_tournoi">
                        <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ tournoi.krosmasterset.id }}.png" title="{{ tournoi.krosmasterset }}">
                    </div>
                {% endif %}
            </span>
            <span>
                <div id="Services">
                    <div id="facbook_logo" class="service">
                        <img src="/static/kma_reports/img/facebook.png" border="0"
                             title="PROCHAINEMENT: Publier sur Facebook">
                    </div>
                    <div id="twitter_logo" class="service">
                        <img src="/static/kma_reports/img/twitter.png" title="PROCHAINEMENT: Publier sur Twitter">
                    </div>
                    <div id="lienvers" class="service">
                        <img src="/static/kma_reports/img/lien.png" title="PROCHAINEMENT: Lien vers la page">
                    </div>
                    <div id="img_logo" class="service">
                        <img src="/static/kma_reports/img/img.png" title="PROCHAINEMENT: Télécharger le rapport">
                    </div>
                </div>
            </span>
        </div>
        <div id="rapport" class="corpshaut">
            <div id="classement" class="colonnes50">
                {% include "snippet_eqj_place.html" %}
            </div>
            <div id="matchs" class="colonnes50">
                <div class="infos_tournoi_bloc">
                    <img src="{{ MEDIA_URL }}{{ tournoi.carte.image }}"
                         {% if tournoi.rotation == True %}style="transform: rotate(90deg);"{% endif %}
                         class="t_map"
                         title="{{ tournoi.carte }}{% if tournoi.rotation == True %}&nbsp;[Pivotée]{% endif %}"
                         alt="Map de la partie ?">
                    <a href="{% url 'affichage_orga' %}?o={{ tournoi.site.id }}">
                    <img src="{{ MEDIA_URL }}{{ tournoi.site.logo }}"
                         class="t_org_logo"
                         title="{{ tournoi.site }}"
                         alt="{{ tournoi.site }}"></a>
                    {% if tournoi.coorg %}
                    <a href="{% url 'affichage_orga' %}?c={{ tournoi.coorg.id }}">
                    <img src="{{ MEDIA_URL }}{{ tournoi.coorg.logo }}"
                         class="t_coorg_logo"
                         title="{{ tournoi.coorg }}"
                         alt=""></a>
                    {% endif %}
                </div>
                {% with rondes=rencontres|dictsort:"num" %}
                    {% for ronde in rondes %}
                        <div class="ronde">
                            <div class="ronde_num">{% trans "Ronde" %} {{ ronde.num }}:</div>
                            {% with matchs=ronde.m|dictsort:"num" %}
                                {% for m in matchs %}
                                    <div class="match">
                                    <a href="{% url 'affichage_joueur' %}?j={{ m.id1 }}"><div class="ronde_eq eq1"
                                         style="color:
                                                 {% if m.res == True %}lawngreen
                                                 {% elif m.res == False %}red
                                                 {% else %}deepskyblue{% endif %};">{{ m.eq1 }}</div></a>
                                    <div class="ronde_vs">
                                        {% if m.res == True %}&lsaquo;&lsaquo;
                                            {% elif m.res == False %}&rsaquo;&rsaquo;
                                            {% else %}&lsaquo;&rsaquo;{% endif %}
                                    </div>
                                    <a href="{% url 'affichage_joueur' %}?j={{ m.id2 }}"><div class="ronde_eq eq2"
                                         style="color:
                                                 {% if m.res == True %}red
                                                 {% elif m.res == False %}lawngreen
                                                 {% else %}deepskyblue{% endif %};">{{ m.eq2 }}</div></a>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
