{% extends "base.html" %}
{% load i18n static bootstrap3 email_obfuscator %}

{% block extra_javascript %}

{% endblock extra_javascript %}

{% block headerContent %}
    <p id="nom">
        KMA Reports : {% trans "page de krosmaster" %}
    </p>
{% endblock %}

{% block title %}KMA: {% trans "Joueur" %}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div class="block">
        <div id="joueur" class="corpshaut">
            <h1 style="display: inline">
                {{ k.nom }}
                <span>
                    {% if k.saison %}
                        <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/4.png"
                             title='{% trans "Jouable en Saison" %}'>
                        <span style="font-size: medium">
                            {% if k.boss %}
                                (Boss)
                            {% endif %}
                        </span>
                        {% if k.eternel %}
                            &
                            <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ k.etoiles }}.png"
                                 title='{% trans "Jouable en Eternel" %}'>
                        {% endif %}
                    {% elif k.eternel %}
                        <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ k.etoiles }}.png"
                             title='{% trans "Jouable en Eternel" %}'>
                </span>
                    {% else %}
                        <h3 class="important" style="display: inline"> - {% trans "Cette version du  Krosmaster n'est pas/plus jouable" %} - </h3>
                    {% endif %}
            </h1>
            <br>
            <div id="tournois" class="colonnes50">
                <img src="{{ STATIC_URL }}kma_reports/img/krosmasters/{{ k.numero }}.profil.png" width="200"
                     height="280" style="display: inline-block; padding: 5px ">
                <img src="{{ STATIC_URL }}kma_reports/img/krosmasters/{{ k.numero|slice:":3" }}a.image.jpg" width="200"
                     height="280" style="display: inline-block; padding: 5px">
                <div>
                    {% if aka|length > 0 %}
                    <h3>{% trans "Aller à la version de ce Krosmaster jouable en:" %}</h3>
                        <br>
                    {% for kros in aka %}
                        {% if kros.saison %}
                            <p>
                                <a href="{% url "affichage_krosmaster" %}?k={{ kros.numero }}">
                                <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/4.png"
                             title='{% trans "Jouable en Saison" %}'>
                                <span style="font-size: medium">
                                    {% if kros.boss %}
                                        (Boss)
                                    {% endif %}
                                </span>
                                </a>
                            </p>
                        {% endif %}
                        {% if kros.eternel %}
                            <p>
                                <a href="{% url "affichage_krosmaster" %}?k={{ kros.numero }}">
                                <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ kros.etoiles }}.png"
                                 title='{% trans "Jouable en Eternel" %}'>
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                        <h2>{% trans "Stats rapides" %}</h2>
                        <h3>{% trans "Pénétration" %} :</h3>
                        <div class="infos_nom_nbrfois"><span
                                class="infos_nbrfois">{{ presence|floatformat:"-2" }}%</span> {% trans "des équipes alignées" %}
                        </div>
                        <h3>{% trans "Utilité" %} :</h3>
                        <div class="infos_nom_nbrfois"><span
                                class="infos_nbrfois">{{ utilite|floatformat:"-2" }}%</span> {% trans "des équipes existantes" %}
                        </div>
                </div>
            </div>
            <div id="equipes" class="colonnes50">
                <h2>{% trans "Krosmaster joué," %}</h2>
                {% if eq3 %}
                    <h3>{% trans "... en 2 exemplaires dans" %} :</h3>
                    {% for eq in eq3|dictsortreversed:"compte" %}
                        <p>
                            <span class="infos_eqj_nbrfois">{{ eq.compte }}X</span>
                            <a href="{% url 'affichage_equipe' %}?e={{ eq.ideqk }}">{% include "snippet_liste_k_icones.html" %}</a>
                        </p>
                    {% endfor %}
                {% endif %}
                {% if eq2 %}
                    <h3>{% trans "... en 2 exemplaires dans" %} :</h3>
                    {% for eq in eq2|dictsortreversed:"compte" %}
                        <p>
                            <span class="infos_eqj_nbrfois">{{ eq.compte }}X</span>
                            <a href="{% url 'affichage_equipe' %}?e={{ eq.ideqk }}">{% include "snippet_liste_k_icones.html" %}</a>
                        </p>
                    {% endfor %}
                {% endif %}
                {% if eq1 %}
                    <h3>{% trans "... en 1 exemplaire dans" %} :</h3>
                    {% for eq in eq1|dictsortreversed:"compte" %}
                        <p>
                            <span class="infos_eqj_nbrfois">{{ eq.compte }}X</span>
                            <a href="{% url 'affichage_equipe' %}?e={{ eq.ideqk }}">{% include "snippet_liste_k_icones.html" %}</a>
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}