{% extends "base.html" %}
{% load i18n static bootstrap3 email_obfuscator %}

{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/recherche.js"></script>
{% endblock extra_javascript %}

{% block headerContent %}{% endblock %}

{% block title %}Accueil{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div class="block">
        <div id="rapport" class="corpshaut">
            <div id="sites" class="colonnes50">
                <span>
                    <div class="infos_organdco">{{ principal.nom }}</div>
                </span>

                <img class="infos_logo" src="{{ MEDIA_URL }}{{ principal.logo }}">
                {% if drapeau %}
                    <p>
                    <span class="adresse">
                    {{ principal.adresse }}<br>
                    {{ principal.code_postal }} {{ principal.ville }}<br>
                    {% if drapeau %}<img src="{{ MEDIA_URL }}{{ drapeau }}" width="27" height="18">{% endif %}
                    {% if principal.etat %}{{ principal.etat }}{% endif %}
                    {{ principal.pays }}<br>
                    </span>
                    </p>
                {% endif %}
                    <p>
                    <span class="adresse">
                    {% if principal.web != None %}<img src="/static/kma_reports/img/www.png" width="18" height="18">
                        <a href="{{ principal.web }}" target="_blank"> {{ principal.web }}</a><br>{% endif %}
                    {% if principal.courriel != None %}<img src="/static/kma_reports/img/courriel.png" width="18" height="18"> {{ principal.courriel|obfuscate_mailto }}<br>{% endif %}
                    {% if principal.twitter != None %}<img src="/static/kma_reports/img/twitter.png" width="18" height="18">
                        <a href="{{ principal.twitter }}" target="_blank"> {{ principal.twitter }}</a><br>{% endif %}
                    {% if principal.facebook != None %}<img src="/static/kma_reports/img/facebook.png" width="18" height="18">
                         <a href="{{ principal.facebook }}" target="_blank"> {{ principal.facebook }}</a><br>{% endif %}
                    </span>
                    </p>
                {% if sub|length > 0 %}
                    <div class="adresse">
                        <h3>{% trans "A co-organisé avec" %} :</h3>
                        {% for s in sub %}
                            {% if s.nom %}
                                <ul>
                                    <li/>
{#                                    <img src="{{ MEDIA_URL }}{{ s.logo }}" width="50" height="50">#}
                                    {% if s.pays %}
                                        <a href="{% url 'affichage_orga' %}?o={{ s.id }}"><img src="{{ MEDIA_URL }}{{ s.logo }}" width="50" height="50">{{ s.nom }}</a>
                                    {% else %}
                                        <a href="{% url 'affichage_orga' %}?c={{ s.id }}"><img src="{{ MEDIA_URL }}{{ s.logo }}" width="50" height="50">{{ s.nom }}</a>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        {%  endfor %}
                    </div>
                {%  endif %}
            </div>
            <div id="dates" class="colonnes50">
                <h2>{% trans "Dernières dates" %}</h2>
                {% with t_ordonnes=tournois|dictsortreversed:"ordre" %}
                    {% for t in t_ordonnes %}
                        <div class="dernieres_dates">
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.infos.id }}" title="{% trans "Vers le tournoi" %}">
                                <div class="dernieres_dates_infos">
                                    <div class="dernieres_dates_bande">
                                        <span class="dernieres_dates_date">
                                            {% if t.infos.krosmasterset and t.krosmasterset.id != 5 %}
                                                <img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ t.infos.krosmasterset.id }}.png" title="{{ t.infos.krosmasterset }}" height="20">
                                            {% endif %}
                                            {{ t.infos.date }}
                                        </span>
                                        <span class="dernieres_dates_nbrj">
                                            {{ t.infos.nbr_participants }} {% trans "Joueurs" %}
                                        </span>
                                    </div>
                                    <div class="dernieres_dates_bande">
                                        <div class="dernieres_dates_orga">
                                            <span style="font-size: 120%;">
                                                {{ t.infos.site.nom }}
                                            </span><br>
                                            {{ t.infos.type }} - {{ t.infos.format }} - {{ t.infos.carte.nom }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% include "snippet_eqj_place.html" %}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}