{% extends "base.html" %}
{% load i18n static bootstrap3 email_obfuscator %}

{% block extra_javascript %}
{#<script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/affichage_equipe.js"#}
{#        xmlns="http://www.w3.org/1999/html"></script>#}
{% endblock extra_javascript %}

{% block headerContent %}
    <p id="nom">
        KMA Reports : {% trans "page d'équipe" %}
    </p>
{% endblock %}

{% block title %}KMA: {% trans "Equipe" %}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div class="block">
        <div class="bande_figurines">
            <div class="flex-center">
                {% for num, nom, boss in eq.k %}
                <a href="{% url 'affichage_krosmaster' %}?k={{ num }}" title="{% trans "Vers les statistiques de" %}: {{ nom }}{% if boss %} - Boss{% endif %}"><img src="{{ STATIC_URL }}kma_reports/img/krosmasters/{{ num|slice:":3" }}a.figurine.png"></a>
                {% endfor %}
            </div>
        </div>
        <div id="joueur" class="corpshaut">
            <div id="equipes" class="colonnes50">
                <h2>{%  trans "Stats rapides" %} :</h2>
                <UL>
                    <div class="infos_nom_nbrfois"><img src="{{ STATIC_URL }}kma_reports/img/initiative.png" style="margin: -7px 0 0 0"> Initiative:<span class="infos_nbrfois">{{ eq.i }}</span></div>
                    <div class="infos_nom_nbrfois">{% trans "Alignée en tournoi" %} :<span class="infos_nbrfois">{{ stats.alignee }}x</span></div>
                    <div class="infos_nom_nbrfois">{% trans "Remporte le tournoi" %} :<span class="infos_nbrfois">{{ stats.top1 }}x</span></div>
                    <div class="infos_nom_nbrfois">{% trans "Classée Top4" %} :<span class="infos_nbrfois">{{ stats.top4 }}x</span></div>
                </UL>
                <h2>{%  trans "Jouée par" %} :</h2>
                <UL>
                    <br>
                    {% for j in joueurs %}
                        <div class="infos_nom_nbrfois"><span class="infos_eqj_nbrfois">{{ j.nbrx }}x</span> <a href="{% url 'affichage_joueur' %}?j={{ j.id }}" title="{% trans "Vers la fiche du joueur" %}">{{ j.nom }}</a></div><br>
                    {% endfor %}
                </UL>
            </div>
            <div id="tournois" class="colonnes50">
                <h2>Top 1 :</h2>
                    <UL>
                    {% for t in tournois %}
                        {% if t.c < 2 %}
                            <img style="display: inline-block" src="{{ MEDIA_URL }}{{ t.m.image }}" width="70" height="70">
                            <div class="infos_tournoi_equipe" >
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.t.id }}" title="{% trans "Vers le tournoi" %}">
                                <span>{{ t.d }}</span><br>
                                <span>{{ t.s }}</span><br>
                                <span>{{ t.p }} {% trans "Joueurs" %}</span>
                            </a>
                            </div><br>
                        {% endif %}
                    {% endfor %}
                    </UL>
                <h2>Top 2-4 :</h2>
                    <UL>
                    {% for t in tournois %}
                        {% if t.c > 1 and t.c < 5 %}
                            <img style="display: inline-block" src="{{ MEDIA_URL }}{{ t.m.image }}" width="70" height="70">
                            <div class="infos_tournoi_equipe" >
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.t.id }}">
                                <span>{{ t.d }}</span><br>
                                <span>{{ t.s }}</span><br>
                                <span>{{ t.p }} Joueurs</span>
                            </a>
                            </div><br>
                        {% endif %}
                    {% endfor %}
                    </UL>
                <h2>Top 8,</h2>
                <h4>{% trans "tournois + de 50 joueurs" %} :</h4>
                <UL>
                    {% for t in tournois %}
                        {% if t.c < 9 and t.p > 50 %}
                            <img style="display: inline-block" src="{{ MEDIA_URL }}{{ t.m.image }}" width="70" height="70">
                            <div class="infos_tournoi_equipe" >
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.t.id }}">
                                <span>{{ t.d }}</span><br>
                                <span>{{ t.s }}</span><br>
                                <span>{{ t.p }} Joueurs</span>
                            </a>
                            </div><br>
                        {% endif %}
                    {% endfor %}
                </UL>
            </div>
        </div>
    </div>
{% endblock %}