{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}{% trans "Profil" %}{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageDeProfil{% endblock %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <H4 style="color:
                        {% if message.tags == 'error' %}#cc1111
                        {% elif message.tags == 'success' %}#00c900
                        {% endif %}; text-align: center">
                    {{ message }}
                </H4>
            {% endfor %}
        {% endif %}
        <H2>{% trans "Aller vers la section" %} :</H2>
        <UL>
            <h4>
                <li/>
                <a href="{% url 'upload_tournoi' %}">{% trans "Ajout d'un tournoi" %}</a></h4>
            <h4>
                <li/>
                <span style="color: darkgoldenrod">{% trans "Dans le futur" %} :</span>&nbsp;{% trans "Préencodage des équipes d'un tournoi" %}
            </h4>
        </UL>
        <H2>{% trans "Modifier votre profil utilisateur" %} :</H2>
        {% if form_profile %}
            <h4 style="color: #cc1111">{{ form_profile.non_field_errors }}{{ form_profile.errors }}</h4>
        {% endif %}
        <span style="color: #5bc0de">{% blocktrans%}Attention, modifier votre courriel entraine la modification de votre nom d'utilisateur{% endblocktrans %} !</span>
        <form action="{% url 'auth_profile' %}" method="post" class="form-inline">
            {% csrf_token %}
            {% bootstrap_form form_profile layout="inline" %}
            <input type="submit" class="btn btn-primary" style="float: right" value={% trans 'Modifier' %}>
        </form>
        <H2>{% trans "Changer de Mot de passe" %} :</H2>
        {% if form_mdp %}
            <h4  style="color: #cc1111">{{ form_mdp.non_field_errors }}{{ form_mdp.errors }}</h4>
        {% endif %}
        <span style="color: #5bc0de">{% blocktrans %}Changer de mot de passe entraine la déconnection et vous redirige vers la page de connexion{% endblocktrans %} !</span>
        <form action="auth_profile" method="post" class="form-inline">
            {% csrf_token %}
            {% bootstrap_form form_mdp layout="inline" %}
            <input type="submit" class="btn btn-primary" style="float: right" value={% trans 'ChangeMdP' %}>
        </form>
    </div>
{% endblock %}