{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block meta %}<meta http-equiv="refresh" content="5;url=auth_login">{% endblock %}

{% block title %}{% trans "Succès"  %}{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageDeProfile{% endblock %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <H4 style="color:
                        {% if message.tags == 'error' %}#cc1111
                        {% elif message.tags == 'success' %}#00c900
                        {% endif %}; text-align: center">
                    {{ message }}
                </H4>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}