<!DOCTYPE html>
{% load i18n static bootstrap3 %}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{#{% bootstrap_messages %}#}


<html lang="fr" {% block html %}{% endblock %}>
<head>
    {% block meta %}{% endblock %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}kma_reports/img/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Jura:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/ui-darkness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}kma_reports/css/nu-context-menu.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kma_reports/css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}kma_reports/css/equipe.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/jquery.nu-context-menu.js"></script>
    {# recommandé par https://docs.djangoproject.com/fr/1.9/ref/csrf/ : #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.getScript(href = "{{ STATIC_URL }}kma_reports/js/base.js")
        });
    </script>
    <title>KroSympas - {% block title %}Bienvenue{% endblock %}</title>
</head>
<body id="{% block bodyId %}genericPage{% endblock %}">
    <header id="{% block headerType %}genericPage{% endblock %}">
        <div id="krosympas"><a href="{% url 'accueil' %}" title={% trans "Accueil" %}><img
                src="/static/kma_reports/img/logo.png" height="150" width="120"></a></div>
        <div id="kma"><img src="/static/kma_reports/img/kma_reports3.png" height="120" width="200"></div>
        {% if user.is_authenticated %}
            <div id="connexion"><a href="{% url 'auth_profile' %}"><img src="/static/kma_reports/img/logged.png" height="16" width="16" title="{% trans "Vers votre profil" %}"></a></div>
            <div id="logout"><a class="glyphicon glyphicon-log-out" href="{% url 'auth_logout' %}" title="Logout"></a></div>
        {% else %}
            <div id="connexion"><a href="{% url 'auth_login' %}"><img src="/static/kma_reports/img/login.png" height="16" width="18" title="{% trans "Enregistrer un tournoi" %}"></a></div>
        {% endif %}
            <div id="infos"><a class=" glyphicon glyphicon-info-sign" href="{% url 'infos' %}" title="Infos"></a></div>
            <div id="soutien"><a class="fa fa-bitcoin" href="{% url 'soutien' %}" title="{% trans "Soutenir notre projet ..." %}"></a></div>
{#    <span class="glyphicon glyphicon-cloud-upload" style="color:antiquewhite; font-size: 15px"></span>#}
        <menu>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div id="langue">
        <img src="{{ STATIC_URL }}kma_reports/img/world.png">
            <span style="color: #00b3ee; ">{{ LANGUAGE_CODE|upper|slice:":2 " }}</span>
                <B>&nbsp;</B>
            {% for language in languages %}
                {% if language.code != LANGUAGE_CODE %}
                    <a href="/{{ language.code }}/{{ request.get_full_path|slice:"4:" }}">
                        <span>{{ language.name_local|upper|slice:":2 " }}</span>
                    </a>
                <B>&nbsp;</B>
                {% endif %}
            {% endfor %}
        </div>
            {% block headerContent %}{% endblock %}
        </menu>
    </header>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    {% block extra_javascript %}{% endblock extra_javascript %}
</body>
</html>