{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/pseudos.js"></script>
{% endblock extra_javascript %}
{% block title %}Encode{% endblock %}

{% block headerType %}MenuComplet{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div id="encodage_pseudo">
    <section id="TournoiInfosJoueurs">
        <div class="txtintro_pseudo">
            {% blocktrans %}<p>
                Par défaut le système génèrera un format d'affichage du type <strong>Prénom + Initiale(s) du
                Nom</strong> à
                des fins d'anonymisation.<br/>
                <strong>Gérard V.</strong> est plus anonyme que <strong>Vanderzamellen G.</strong><br/>
                De plus, les noms et prénoms que vous allez valider dans ce formulaire ne seront plus modifiables par la
                suite.<br/>
                C'est donc <strong>très important</strong> de vérifier que le Nom et le Prénom soient à la bonne place
                et
                correctement orthographiés.<br/>
            </p>
            <p>
                Les champs d'édition n'apparaissent pas si nous disposons déjà d'un Pseudo ou si les Nom et Prénom ont
                déjà
                été validés préalablement.
            </p>
            <p>
                <strong>Les pseudos</strong> sont ceux dont nous disposons déjà dans la base de donnée et qui seront
                véritablement affichés dans les pages de reporting à la place de l'anonymisation expliquée ci-dessus.
                Les champs pseudos sont l'occasion, si vous en connaissez l'orthographe exacte, d'introduire le <strong>pseudo</strong>
                du joueur / de la joueuse.
            </p>
            <p>
                <strong>Si vous ne le connaissez pas ou n'êtes pas certain de son orthographe</strong>, il est
                préférable de
                laisser le champs vide pour permettre un encodage correct ultérieur.
            </p>{% endblocktrans %}
            <p align="center">
                ________________________________________<br/><br/>
            </p>
        </div>
        <div class="bloc_pseudo">
            <div class="joueur_pseudo">
                <div id="place"><strong>PL</strong></div>
                <div id="prenom"><p id="titre"><strong>{% trans "Prénom" %}</strong></p></div>
                <div id="nom"><p id="titre"><strong>{% trans "Nom" %}</strong></p></div>
                <div id="pseudo"><p id="titre"><strong>{% trans "Pseudo" %}</strong></p></div>
                <div id="pts"><strong>Pts</strong></div>
            </div>
            <form id="formulaire_pseudos" action="{% url 'encode_pseudos' %}" method="post" class="form-inline corpshaut">
                {% csrf_token %}{{ form.non_field_errors }}
                {% with joueurs=request.session.pseudos|dictsort:"classement" %}
                    {% for dict in joueurs %}
                        <div class="joueur_pseudo">
                            <div id="place">
                                {{ dict.classement }}
                            </div>
                            <div id="prenom">
                                {% if dict.displayname or dict.pseudo %}
                                    <p id="valide">{{ dict.prenom }}</p>
                                    <input id="prenom{{ dict.pk }}"
                                           type="hidden"
                                           name="{{ dict.pk }}"
                                           value="{{ dict.prenom }}">
                                {% else %}
                                    <input id="prenom{{ dict.pk }}"
                                           type="text"
                                           class="form-control input-sm"
                                           name="{{ dict.pk }}"
                                           value="{{ dict.prenom }}"
                                           placeholder="Prénom">
                                {% endif %}
                            </div>
                            <div id="nom">
                                {% if dict.displayname or dict.pseudo %}
                                    <p id="valide">{{ dict.nom }}</p>
                                    <input id="nom{{ dict.pk }}"
                                           type="hidden"
                                           name="{{ dict.pk }}"
                                           value="{{ dict.nom }}">
                                {% else %}
                                    <input id="nom{{ dict.pk }}"
                                           type="text"
                                           class="form-control input-sm"
                                           name="{{ dict.pk }}"
                                           value="{{ dict.nom }}"
                                           placeholder="Nom">
                                {% endif %}
                            </div>
                            <div id="pseudo">
                                {% if dict.pseudo %}
                                    <p id="valide">{{ dict.pseudo }}</p>
                                    <input id="pseudo{{ dict.pk }}"
                                           type="hidden"
                                           value="{{ dict.pseudo }}"
                                           name="{{ dict.pk }}">
                                {% else %}
                                    <input id="pseudo{{ dict.pk }}"
                                           type="text"
                                           class="form-control input-sm"
                                           name="{{ dict.pk }}"
                                           placeholder="Pseudo">
                                {% endif %}
                            </div>
                            <div id="pts">
                                {{ dict.d0 }}
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
        </div>
                <div class="joueur_pseudo">
                    <div id="envoyer" class="pied" align="right">
                    <p>
                        {% buttons %}
                            <button id="envoyerTournoi" type="submit" class="btn btn-primary" name="action"
                                    value="Etape 3: Equipes"
                                    layout='inline'>{% bootstrap_icon "star" %} Etape 3: Equipes
                            </button>
                        {% endbuttons %}
                        </p>
                    </div>
                </div>
            </form>
    </section>
{% endblock %}
