{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}
    <script type="text/javascript">
        var eqj = {{ equipe.0.eqj }}
        $(document).ready(function () {
            $.getScript(href = "{{ STATIC_URL }}kma_reports/js/equipe.js")
        });
    </script>
{% endblock extra_javascript %}

{% block headerContent %}{% endblock %}

{% block title %}Félicitations{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageDeProfil{% endblock %}

{% block content %}
    <div>
        <H1>Félicitations</H1>
        <p>
            Votre tournoi semble correctement encodé.<br>
            Voici le résumé qui devrait s'afficher sur Facebook si vous poster l'URL de la page du tournoi
        </p>
        <img src="{{ MEDIA_URL }}ogp/t.{{ t }}.{{ LANGUAGE_CODE }}.png">
        <br>
        <H4>https://kma.krosympas.be{% url 'affichage_tournoi' %}?t={{ t }}</H4>
    </div>
{% endblock %}