{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}
    <script type="text/javascript">
        var ks_id = '{{ ks_id }}'
        var eqj = '{{ equipe.0.eqj }}';
        $(document).ready(function () {
            $.getScript(href = "{{ STATIC_URL }}kma_reports/js/equipe.js")
        });
    </script>
{% endblock extra_javascript %}

{% block headerContent %}{% endblock %}

{% block title %}Encode{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageEncodeEquipe{% endblock %}

{% block content %}
<div id="encodage">
    <div class="joueur">
        {{ equipe.0.joueur }}
    </div>
    <div class="formulaire">
        <div class="row">
            <div class="col-lg-10">
                <div class="input-group">
                    <input id="KroSelection" type="text" class="form-control" autocomplete="off" autofocus placeholder="Recherche Krosmaster...">
      <span class="input-group-btn">
        <button  id="KrosAddition" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="num_equipe">Equipe {{ equipe.number }} sur {{ equipe.paginator.num_pages }}</div>
        {#            <input id="KroSelection" type="text" placeholder=" Krosmaster" class="form-control input-sm"" autocomplete="off" autofocus />#}
        {#            <button  type="button" class="btn btn-info btn-sm" id="KrosAddition">#}
        {#                <span class="glyphicon glyphicon-plus"></span>#}
        {#            </button>#}
    </div>
    <div id="equipe">
        <div class="kroconteneur_vide" id="kroconteneur_1"></div>
        <div class="kroconteneur_vide" id="kroconteneur_2"></div>
        <div class="kroconteneur_vide" id="kroconteneur_3"></div>
        <div class="kroconteneur_vide" id="kroconteneur_4"></div>
        <div class="kroconteneur_vide" id="kroconteneur_5"></div>
        <div class="kroconteneur_vide" id="kroconteneur_6"></div>
        <div class="kroconteneur_vide" id="kroconteneur_7"></div>
        <div class="kroconteneur_vide" id="kroconteneur_8"></div>
    </div>
    <span title="3 à 8 krosmasters">
    <div class="big_ico_fig"></div>
    <div class="total_fig"><span id="total_fig">0</span></div>
    <div class="check_fig"><span id="check_fig" class="glyphicon glyphicon-ok" style="color:limegreen; font-size: 15px"></span></div>
    </span>
    <span title="12 pts requis">
    <div class="big_ico_niv"></div>
    <div class="total_niv"><span id="total_niv">0</span></div>
    <div class="check_niv"><span id="check_niv" class="glyphicon glyphicon-ok" style="color:limegreen; font-size: 15px"></span></div>
    </span>
    <span title="Respectez l'ordre d'initiative">
    <div class="big_ico_init"></div>
    <div class="total_init"><span id="total_init">0</span></div>
    <div class="check_init"><span id="check_init" class="glyphicon glyphicon-ok" style="color:limegreen; font-size: 15px"></span></div>
    </span>
    <span title="1 Boss max">
    <div class="big_ico_boss"></div>
    <div class="existe_boss"><span id="existe_boss">0</span></div>
    <div class="check_boss"><span id="check_boss" class="glyphicon glyphicon-ok" style="color:limegreen; font-size: 15px"></span></div>
    </span>
</div>
<div id="pagination">
    <span class="step-links">
        {% if equipe.has_next %}
            <a href="{% url 'encode_equipes' %}?eq={{ equipe.next_page_number }}" title="Actif quand tous les contrôles sont au vert" class="btn btn-default" role="button" id="encoder" disabled>
                <span class="glyphicon glyphicon-save"></span>
                Enregister
                <span class="glyphicon glyphicon-play"></span>
            </a>
        {% else %}
            <a href="{% url 'encode_fin' %}?t={{ request.session.tournoi }}" title="Actif quand tous les contrôles sont au vert" class="btn btn-default" role="button" id="encoder" disabled>
                <span class="glyphicon glyphicon-save"></span>
                Enregister
                <span class="glyphicon glyphicon-play"></span>
            </a>
        {% endif %}
    </span>
</div>
{% endblock %}