{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block headerContent %}{% endblock %}

{% block title %}{% trans "Encodage" %}{% endblock %}

{% block headerType %}MenuComplet{% endblock %}

{% block bodyId %}PageEncodeTournoi{% endblock %}

{% block content %}
    <div class="block">
        <div class="chapeau">
            <H2>Tournoi finalisé le : {{ request.session.tournoi.jour }} / {{ request.session.tournoi.mois }}
                / {{ request.session.tournoi.annee }}</H2>
            <p id="encode_tournoi">
                Tous les éléments apparaissant dans des cases de formulaire sont récupérés depuis le fichier AWER.
                Ces informations sont <strong>modifiables</strong>.<br/>
                Si vous avez l'opportunité de fournir des données <strong>correctes</strong>, merci de corriger ou
                complèter en tenant compte des textes explicatifs.
            </p>
            <p id="encode_tournoi">
                <strong>ATTENTION</strong>, si vous effectuez des modifications, ces nouvelles données seront
                stockées
                dans la base de
                donées et ne seront plus modifiables sans passer par une demande à l'administrateur !
            </p>
            <p id="encode_tournoi" align="center">
                ________________________________________<br/><br/>
            </p>
        </div>
        <div id="formulaire" class="corpsbas">
            <form id="encode_tournoi" action="{% url 'encode_tournoi' %}" method="post" enctype="multipart/form-data"
                  class="form-vertical">
                {% csrf_token %}
                <div id="orga" class="colonnes50">
                    <P id="encode_tournoi"><strong>Le site organisateur</strong> est le seul élément <strong>indispensable</strong>
                        de ce formulaire.
                        Il faut introduire <strong>le nom</strong> du magasin, cafés, etc.
                    </P>
                    <p>
                        <strong>Exemples de modification nécessaire:</strong><br/>
                        <em>Tournoi KMA Aux3D</em>
                        <br>===> <strong>Aux 3D Namur</strong><br/>
                        <em>Une organisation de L'Autre Monde</em>
                        <br>===> <strong>L'Autre Monde</strong><br/>

                    </P>
                    <h3>Organisateur :</h3>
                    {# Pour faciliter le travail avec la DB, on passe l'ID si on l'a reçu, sinon, c'est vide#}
                    {% with orga=request.session.organisateur %}
                        {% if orga.id %}
                            <input id="encode_tournoi" type="hidden" value="{{ orga.id }}" name="id">
                        {% endif %}
                        {% if orga.nom %}
                            <h4>{{ orga.nom }}</h4>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.nom }}" name="nom">
                        {% else %}
                            <h4>Pour info, le nom fournit par AWER est:</h4>
                            <p>
                            <strong>{{ request.session.tournoi.nom_tmp }}</strong>
                            </p>
                            <p>Merci de bien vouloir indiquer le nom correct et définitif pour ce site dans le champs ci-dessous.</p>
                            {% bootstrap_field form.nom layout='vertical' size='sm' %}
                        {% endif %}
                        <span><em>Coordonnées postales:</em></span><br/>
                        {% if orga.adresse %}
                            <h5><strong>Adresse: </strong>{{ orga.adresse }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.adresse }}" name="adresse">
                        {% else %}
                            {% bootstrap_field form.adresse layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.code_postal %}
                            <h5><strong>Code Postal: </strong>{{ orga.code_postal }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.code_postal }}" name="code_postal">
                        {% else %}
                            {% bootstrap_field form.code_postal layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.ville %}
                            <h5><strong>Ville: </strong>{{ orga.ville }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.ville }}" name="ville">
                        {% else %}
                            {% bootstrap_field form.ville layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.etat %}
                            <h5><strong>Etat: </strong>{{ orga.etat }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.etat }}" name="etat">
                        {% else %}
                            {% bootstrap_field form.etat layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.pays %}
                            <h5><strong>Pays: </strong>{{ orga.pays }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.pays_id }}" name="pays">
                        {% else %}
                            {% bootstrap_field form.pays layout='vertical' size='sm' %}
                        {% endif %}
                        <span><em>Coordonnées Internet:</em></span><br/>
                        {% if orga.web %}
                            <h5><strong>Site Web:</strong><br/>{{ orga.web }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.web }}" name="web">
                        {% else %}
                            {% bootstrap_field form.web layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.courriel %}
                            <h5><strong>Courriel:</strong><br/>{{ orga.courriel }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.courriel }}" name="courriel">
                        {% else %}
                            {% bootstrap_field form.courriel layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.twitter %}
                            <h5><strong>Compte Twitter:</strong><br/>{{ orga.twitter }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.twitter }}" name="twitter">
                        {% else %}
                            {% bootstrap_field form.twitter layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.facebook %}
                            <h5><strong>Compte Facebook:</strong><br/>{{ orga.facebook }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ orga.facebook }}" name="facebook">
                        {% else %}
                            {% bootstrap_field form.facebook layout='vertical' size='sm' %}
                        {% endif %}
                        {% if orga.logo %}
                            <H5><strong>Logo :</strong></H5>
                            <img src="{{ MEDIA_URL }}{{ orga.logo }}">
                        {% else %}
                            {% bootstrap_field form.logo layout='vertical' size='sm' %}
                            <P>
                                Il doit être au format .png, .gif ou .jpg<br/>
                                Une forme carrée de 100 pixels de côté sera utilisée lors des affichage.
                            <p>
                        {% endif %}
                    {% endwith %}
                </div>
                <div id="co-orga" class="colonnes50">
                    <P>
                        Un <strong>co-organisateur</strong> peut-être une communauté, un club ou un groupe de joueurs
                        qui
                        contribue éventuellement à l'organisation de l'évènement aux côtés du site de tournoi.
                    <h3>Co-organisateur :</h3>
                    </P>
                    {% with coorg=request.session.coorganisateur %}
                        {% if coorg.id %}
                            <input id="encode_tournoi" type="hidden" value="{{ coorg.id }}" name="CommunauteJoueurs_id">
                        {% endif %}
                        {% if coorg.nom %}
                            <h4>{{ coorg.nom }}</h4>
                            <input id="encode_tournoi" type="hidden" value="{{ coorg.nom }}"
                                   name="CommunauteJoueurs_nom">
                        {% else %}
                            {% bootstrap_field form.CommunauteJoueurs_nom layout='vertical' size='sm' %}
                        {% endif %}
                        <span><em>Coordonnées Internet:</em></span><br/>
                        {% if coorg.web %}
                            <h5><strong>Site Web:</strong><br/>{{ coorg.web }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ coorg.web }}"
                                   name="CommunauteJoueurs_web">
                        {% else %}
                            {% bootstrap_field form.CommunauteJoueurs_web layout='vertical' size='sm' %}
                        {% endif %}
                        {% if coorg.courriel %}
                            <h5><strong>Courriel:</strong><br/>{{ coorg.courriel }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ coorg.courriel }}"
                                   name="CommunauteJoueurs_courriel">
                        {% else %}
                            {% bootstrap_field form.CommunauteJoueurs_courriel layout='vertical' size='sm' %}
                        {% endif %}
                        {% if coorg.twitter %}
                            <h5><strong>Compte Twitter:</strong><br/>{{ coorg.twitter }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ coorg.twitter }}"
                                   name="CommunauteJoueurs_twitter">
                        {% else %}
                            {% bootstrap_field form.CommunauteJoueurs_twitter layout='vertical' size='sm' %}
                        {% endif %}
                        {% if coorg.facebook %}
                            <h5><strong>Compte Facebook:</strong><br/>{{ coorg.facebook }}</h5>
                            <input id="encode_tournoi" type="hidden" value="{{ coorg.facebook }}"
                                   name="CommunauteJoueurs_facebook">
                        {% else %}
                            {% bootstrap_field form.CommunauteJoueurs_facebook layout='vertical' size='sm' %}
                        {% endif %}
                        {% if coorg.logo %}
                            <H5><strong>Logo :</strong></H5>
                            <img src="{{ MEDIA_URL }}{{ coorg.logo }}">
                        {% else %}
                            {% bootstrap_field form.CommunauteJoueurs_logo layout='vertical' size='sm' %}
                            <P>
                                Il doit être au format .png, .gif ou .jpg<br/>
                                Une forme carrée de 100 pixels de côté sera utilisée lors des affichage.
                            <p>
                        {% endif %}
                    {% endwith %}
                    <p id="encode_tournoi" align="center">
                        <br/>________________________________________<br/>
                    </p>
                    <h3>{%  trans "Format: " %}<img src="{{ STATIC_URL }}kma_reports/img/krosmasterset/{{ LANGUAGE_CODE }}/{{ request.session.tournoi.krosmasterset }}.png"></h3>
                    <h3>Plateau de jeu :</h3>
                    <p id="encode_tournoi" align="center">
                        <br/>
                        {% with t=request.session.tournoi  %}
                        <img src="{{ MEDIA_URL }}{{ t.carte_img }}"
                             {% if t.carte_pivotee == True %}style="transform: rotate(90deg);"{% endif %}
                             title="{{ t.carte_nom }}{% if t.carte_pivotee == True %}&nbsp;[Pivotée]{% endif %}"
                             alt="Map de la partie ?"
                             width="250"
                             height="250">
                        {% endwith %}
                    </p>
                <br/>
                </div>
                <div id="envoyer" class="pied" align="right">
                    {% buttons %}
                        <button id="envoyerTournoi" type="submit" class="btn btn-primary" value="Etape 2: Pseudos"
                                layout='inline'>{% bootstrap_icon "star" %} Créer ce tournoi
                        </button>
                    {% endbuttons %}
                </div>
                <p></p>
            </form>
        </div>
    </div>
{% endblock %}