{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/tournoi.js"></script>
    <script>
        {% if erreur %}
        {
            alert('ATTENTION, ce tournoi a déjà été rapporté !');
        }
        {% endif %}
    </script>
{% endblock extra_javascript %}

{% block headerContent %}{% endblock %}

{% block title %}{% trans "Téléverser" %}{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageUploadAWER{% endblock %}

{% block content %}
       <h2>{% trans "Liens Officiels" %} :</h2>
<ul>
    <a href="http://www.krosmaster.com/"><img src="{{ STATIC_URL }}kma_reports/img/krosmaster-logo.png"></a><br>
    <a href="http://www.ankama.com/"><img src="{{ STATIC_URL }}kma_reports/img/ankama-logo.png"></a>
</ul>
       <h2>{% trans "Ressources pour joueurs" %} :</h2>
<ul>
    <a href="http://cdn.krosfinder.info/"><img src="{{ STATIC_URL }}kma_reports/img/krosfinder-logo.png"></a><br>
    <a href="http://krosbuilder-rogan.rhcloud.com/builder"><img src="{{ STATIC_URL }}kma_reports/img/Krosmaster_Builder-logo.png"></a>
</ul>


<h2>Copyrights</h2>
    <ul>
<p>{% blocktrans %}Les graphismes (figurines, cartes, imagettes ou icônes) liés à l'univers de Krosmaster Arena, sont la propriété d'Ankama Games, protégés par leurs Copyrights et Trademark.{% endblocktrans %}</p>
<p>{% blocktrans %}Ce site est l'oeuvre de la Team KroSympas, fan du jeu et n'engage en aucune façon la société Ankama Games.{% endblocktrans %}</p>
    </ul>
{% endblock %}