{% extends "base.html" %}
{% load i18n static columns bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}{% endblock extra_javascript %}

{% block headerType %}MenuComplet{% endblock %}

{% block title %}{% trans "Résultat de la recherche" %}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block headerContent %}{% endblock %}

{% block content %}
    <div class="block">
        <div id="joueur" class="corpshaut">
            <h1>{% trans "Résultat de la recherche" %} :</h1>
            <div id="rapport" class="corpshaut">
                {% with t_ordonnes=tournois|dictsortreversed:"ordre" %}
                    {% for t_ligne in t_ordonnes|columns:2 %}
                    {% for t in t_ligne %}
                        <div class="colonnes50">
                        <div class="dernieres_dates">
                            <a href="{% url 'affichage_tournoi' %}?t={{ t.infos.id }}" title="{% trans "Vers le tournoi" %}">
                                <div class="dernieres_dates_infos">
                                    <div class="dernieres_dates_bande">
                                        <span class="dernieres_dates_date">
                                            <img src="{{ MEDIA_URL }}{{ t.infos.pays.drapeau }}" width="30" height="20">
                                        </span>
                                        <span class="dernieres_dates_date">
                                            {{ t.infos.date }}
                                        </span>
                                        <span class="dernieres_dates_nbrj">
                                            {{ t.infos.nbr_participants }} {% trans "Joueurs" %}
                                        </span>
                                    </div>
                                    <div class="dernieres_dates_bande">
                                        <div class="dernieres_dates_orga">
                                            <img src="{{ MEDIA_URL }}{{ t.infos.site.logo }}" width="50" height="50">
                                        </div>
                                        {% if t.infos.coorg %}
                                            <div class="dernieres_dates_orga">
                                                <img src="{{ MEDIA_URL }}{{ t.infos.coorg.logo }}" width="50"
                                                     height="50">
                                            </div>
                                        {% endif %}
                                        <div class="dernieres_dates_orga">
                                            <span style="font-size: 120%;">
                                                {{ t.infos.site.nom }}
                                                {% if t.infos.coorg %} & {{ t.infos.coorg.nom }}{% endif %}
                                            </span><br>
                                            {{ t.infos.type }} - {{ t.infos.format }}<br>
                                            {{ t.infos.carte.nom }}
                                        </div>
                                    </div>
                                </div>
                            </a>
{#                        {% include "snippet_eqj_place.html" %}#}
                        </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
