{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}{% endblock extra_javascript %}

{% block headerType %}MenuComplet{% endblock %}

{% block title %}{{ mois }}{{ annee }}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block headerContent %}{% endblock %}

{% block content %}
    <div class="block">
        <div id="infos_tournoi" class="chapeau_affichage">
            <span>
                <div id="Type" class="infos_tournoi">
                    Liste des tournois du mois
                </div>
                <div id="Mois" class="infos_tournoi">
                    {{ mois }}
                </div>
                <div id="Mois" class="infos_tournoi">
                    de l'année
                </div>
                <div id="Mois" class="infos_tournoi">
                    {{ annee }} :
                </div>
            </span>
            <span>
                <div id="Services">
                    <div id="facbook_logo" class="service">
                        <img src="/static/kma_reports/img/facebook.png" border="0"
                             title="PROCHAINEMENT: Publier sur Facebook">
                    </div>
                    <div id="twitter_logo" class="service">
                        <img src="/static/kma_reports/img/twitter.png" title="PROCHAINEMENT: Publier sur Twitter">
                    </div>
                    <div id="lienvers" class="service">
                        <img src="/static/kma_reports/img/lien.png" title="PROCHAINEMENT: Lien vers la page">
                    </div>
                    <div id="img_logo" class="service">
                        <img src="/static/kma_reports/img/img.png" title="PROCHAINEMENT: Télécharger le rapport">
                    </div>
                </div>
            </span>
        </div>
        <div id="rapport" class="corpshaut">
            <div id="sites" class="colonnes50">
                <h2>Par Site</h2>
                <ul>
                    {% for t in tournois %}
                        <li>{{ t.site }}({{t.site_id}})</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="dates" class="colonnes50">
                <h2>Par Date</h2>
                <ul>
                    {% for t in tournois %}
                        <li>
                            <a href="../{{ annee }}/{{ mois }}/{{ t.jour|stringformat:"02d" }}">
                            {{ t.jour|stringformat:"02d" }}/{{ mois }}/{{ annee }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
