{% load i18n static %}
{% with equipes=t.classement|dictsort:"place" %}
    {% for eq in equipes %}
        <div class="classement_equipe">
            <div class="classement_place" title="Place au classement">
                                <span class="flex-center"
                                        {% if eq.place == 1 %} style="color: orange;"
                                        {% elif eq.place == 2 %} style="color: darkgrey;"
                                        {% elif eq.place == 3 %} style="color: saddlebrown;"
                                        {% endif %}>
                                    {{ eq.place }}
                                </span>
            </div>
            <div>
                <div class="classement_nom">
                    <a href="{% url 'affichage_joueur' %}?j={{ eq.idj }}" title="{% trans "Vers la fiche du joueur" %}">{{ eq.nom }}</a>
                </div>
                <div class="classement_init">
                    <img src="/static/kma_reports/img/initiative.png">
                    {{ eq.init }}
                </div>
                <div class="classement_figs">
                    {% include "snippet_liste_k_icones.html" %}
                </div>
                <div class="classement_Ds">
                    <div class="progress classement_D"
                         title="D0: {% trans "nombre de points" %}">
                        <div class="progress-bar progress-bar-success classement_D_text"
                             aria-valuenow="27"
                             aria-valuemin="0"
                             aria-valuemax="27"
                             style="width: {{ eq.pts_pct|floatformat:"0" }}%; font-weight: bold">
                            &nbsp;{{ eq.d0 }}&nbsp;Pts
                        </div>
                    </div>
                    <div class="progress classement_D"
                         title="D1: {% trans "pourcentage moyen de victoires des adversaires (Résistance)" %}">
                        <div class="progress-bar progress-bar-warning classement_D_text"
                             role="progressbar"
                             aria-valuenow="20"
                             style="width: {{ eq.d1|floatformat:"0" }}%">
                            &nbsp;{% trans "Résistance" %}:&nbsp;{{ eq.d1|floatformat:"-2" }}%
                        </div>
                    </div>
{#                    <div class="progress classement_D"#}
{#                         title="D2: {% trans "pourcentage moyen de parties gagnées" %}>"#}
{#                        <div class="progress-bar progress-bar-info classement_D_text"#}
{#                             role="progressbar"#}
{#                             aria-valuenow="60"#}
{#                             style="width: {{ eq.d2|floatformat:"0" }}%">#}
{#                            &nbsp;D2:&nbsp;{{ eq.d2|floatformat:"-2" }}%#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="progress classement_D"#}
{#                         title="D3: "{% trans "pourcentage moyen de parties gagnées par les adversaires" %}>#}
{#                        <div class="progress-bar progress-bar-warning classement_D_text"#}
{#                             role="progressbar"#}
{#                             aria-valuenow="80"#}
{#                             style="width: {{ eq.d3|floatformat:"0" }}%">#}
{#                            &nbsp;D3:&nbsp;{{ eq.d3|floatformat:"-2" }}%#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
        {#                FIN d'EQUIPE#}
    {% endfor %}
{% endwith %}