{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}{% trans "Soutien" %}{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageDeSoutien{% endblock %}

{% block content %}
    <div>
        <H2>{% trans "Soutenir Kma Reports" %}</H2>

        <p>{% blocktrans %}Ce projet suppose des coûts d'hébergement et de maintenance et beaucoup de temps.{% endblocktrans %}<br>
           {% blocktrans %}Nous avons choisi de ne pas mettre de publicité car cela gache l'esthétique.{% endblocktrans %}<br>
           {% blocktrans %}Donc, si vous voulez nous apporter votre soutien financier en versant l'un ou l'autre {% endblocktrans %}
           <span class="fa fa-euro"></span>uro {% trans "ou morceau de" %} <span class="fa fa-bitcoin"></span>itcoins,<br>{% trans "nous vous en remercions par avance" %} !
        </p>

        <H3>BitCoins:</H3>
        <img src="{{ STATIC_URL }}/kma_reports/img/QR_bitcoins.png" height="100" width="100">
        <span><H4>&nbsp;<span class="fa fa-bitcoin"style="color: #00c900">:&nbsp;</span><a href="bitcoin:15SQbrbjiBGD5bw4GtP9G3pqCVUaVd78dM?label=KmaReport?message=Donation KmaReport">15SQbrbjiBGD5bw4GtP9G3pqCVUaVd78dM</a></H4></span>
        <H3>Paypal:</H3>
        <img src="{{ STATIC_URL }}/kma_reports/img/paypal-logo.png" height="100" width="100">
        <span><H4>&nbsp;<span class="fa fa-euro"style="color: #00c900">:&nbsp;</span><a href="https://paypal.me/KroSympas">PayPal.me/Auroch</a></H4></span>
    </div>
{% endblock %}