{% extends "base.html" %}
{% load i18n static bootstrap3 email_obfuscator %}

{% block extra_javascript %}

{% endblock extra_javascript %}

{% block headerContent %}
    <p id="nom">
        KMA Reports : {% trans "Top Equipes" %}
    </p>
{% endblock %}

{% block title %}KMA: {% trans "Top Equipes" %}{% endblock %}

{% block bodyId %}PageStandard{% endblock %}

{% block content %}
    <div class="block">
        <div id="joueur" class="corpshaut">
            <h1 style="display: inline">{{ display }}</h1><h4 style="display: inline">{{ add }}</h4><br>
            <div id="tournois" class="colonnes50">
                <h2>{% trans "Les 10 plus jouées" %}</h2>
                {% with equipes=topnbrx|dictsortreversed:"nbrx" %}
                    {% for eq in equipes %}
                        <div class="top_equipes">
                            <span class="infos_eqj_nbrfois">{{ eq.nbrx }}X</span><a href="{% url 'affichage_equipe' %}?e={{ eq.ideqk }}">{% include "snippet_liste_k_icones.html" %}</a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div id="equipes" class="colonnes50">
                <h2>{% trans "Ont remporté un tournoi" %}</h2>
                {% with equipes=topperf|dictsortreversed:"nbrx" %}
                    {% for eq in equipes %}
                        <div class="top_equipes">
                            <span class="infos_eqj_nbrfois">{{ eq.nbrx }}X</span><a href="{% url 'affichage_equipe' %}?e={{ eq.ideqk }}">{% include "snippet_liste_k_icones.html" %}</a>
                        </div>
                        <h4>{% trans "Sur la/les carte(s)" %} :</h4>
                        <UL>
                        {% for map in eq.maps %}
                            {% if forloop.counter > 6 %}<UL></UL>{% endif %}
                            <span>
                                <img class="top_equipes_map_mini" src="{{ MEDIA_URL }}{{ map.image }}" title="{{ map }}">
                            </span>
                        {% endfor %}
                        </UL>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}