{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}kma_reports/js/tournoi.js"></script>
    <script>
        {% if erreur %}
        {
            alert('ATTENTION, ce tournoi a déjà été rapporté !');
        }
        {% endif %}
    </script>
{% endblock extra_javascript %}

{% block headerContent %}{% endblock %}

{% block title %}{% trans "Téléverser" %}{% endblock %}

{% block headerType %}MenuSeul{% endblock %}

{% block bodyId %}PageUploadAWER{% endblock %}

{% block content %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'upload_tournoi' %}" role="form" method="post" enctype="multipart/form-data" layout='horizontal'>
            {% csrf_token %}
            <h2>{% trans "Ajout d'un nouveau rapport" %}</h2>
            <h3><span style="color: limegreen">{%  trans "Idéalement" %}:</span><br/></h3>
            <h4>{%  trans "Recherchez et Sélectionnez" %}</h4>
            <p><span style="font-family: Verdana, Tahoma, Arial, sans-serif;">
                {% blocktrans %}La recherche s'éffectue dès que vous avez tapé 2 lettres. Elle vous propose tous les enregistrements contenant le groupe de lettres introduites.{% endblocktrans %}
                <br/>
                {% blocktrans %}Si le lieu et/ou le co-organisateur du tournoi n'existe(nt) pas encore, vous pourrez le(s) créer à la page suivante.{% endblocktrans %}
            </span></p>
            {% bootstrap_field form.lieu layout='inline' size='sm' %}
            {% bootstrap_field form.coorg layout='inline' size='sm' %}
            <h3><span style="color: red">{%  trans "Nécessaire" %}:</span><br/></h3>
            <h4>{% trans "Sélectionnez le fichier exporté de l'AWER" %}:</h4>
            {% bootstrap_field form.docfile layout='horizontal' size='sm' %}
            <br>
            <h4>{% trans "Choisissez un format de tournoi" %}:</h4>
            {% bootstrap_field form.krosmasterset layout='horizontal' size='sm' %}
        <br><br>
            <h4>{% trans "Sélectionnez la Carte" %}:</h4>
            {% bootstrap_field form.carte layout='horizontal' size='sm' %}
            {% bootstrap_field form.rotation layout='horizontal' size='sm' %}
            {% bootstrap_field form.organisateur %}
            {% bootstrap_field form.coorganisateur %}
            <input type="reset" class="btn btn-warning" style="float: right" value={% trans "Annuler" %}><input type="submit" class="btn btn-primary" style="float: right" value={% trans "Téléverser" %}>
        </form>

        <h2><span><br>{% trans "Edition d'un précédent rapport" %}</span></h2>
{% endblock %}
