body {

}

#kroconteneur_1 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_2 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_3 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_4 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_5 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_6 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_7 {
    width: 100px;
    height: 175px;
    position: relative;
}

#kroconteneur_8 {
    width: 100px;
    height: 175px;
    position: relative;
}

#encodage {
    /*background: rgba(255,255,255,0.2);*/
    border-radius: 20px;
    left: 50%;
    margin: 0 0 0 -410px;
    width: 820px;
    height: 285px;
    position: relative;
    top: 10px;
    /*left: 10px;*/
}

button#encoder {
    position: ;
    right: 0;
}

#encodage div.joueur {
    width: 350px;
    height: 40px;
    position: relative;
    top: 8px;
    left: 15px;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 24px;
}

#encodage div.num_equipe {
    width: 350px;
    height: 35px;
    position: relative;
    left: 400px;
    top: -33px;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255,255,255,0.2);
}

#encodage div.formulaire {
    width: 350px;
    height: 60px;
    position: relative;
    top: 15px;
    left: 15px;
}

input {
    vertical-align: middle;
}

#equipe {
    width: 800px;
    height: 175px;
    position: absolute;
    /*top: 30px;*/
    left: 10px;
}

#equipe div.krosmaster {
    float: left;
    border-radius: 20px;
    background: rgba(255,255,255,0.3) no-repeat 0 0;
    /*background: url('/static/kma_reports/img/cadrefig.png') no-repeat 0 0;*/
}

#equipe div.krosmaster_error {
    float: left;
    border-radius: 20px;
    background: rgba(255,0,0,0.3) no-repeat 0 0;
}

#equipe div.kroconteneur_vide {
    float: left;
    border-radius: 20px;
    background: rgba(255,255,255,0.1) no-repeat 0 0;
}

#equipe div.fig {
    position: absolute;
    top: 0;
    left: 0;
}

#equipe div.caracs {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(0,0,0,0.5) no-repeat 0 0;
}

#equipe div.ico_niv {
    background: url('/static/kma_reports/img/niveau.png') no-repeat 0 0;
    position: absolute;
    top: 138px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-width: 0;
}

#equipe div.ico_init {
    background: url('/static/kma_reports/img/initiative.png') no-repeat 0 0;
    position: absolute;
    top: 138px;
    left: 40px;
    width: 20px;
    height: 20px;
    border-width: 0;
}

#equipe div.ico_boss {
    background: url('/static/kma_reports/img/boss.png') no-repeat 0 0;
    position: absolute;
    top: 138px;
    right: 15px;
    width: 20px;
    height: 20px;
    border-width: 0;
}

#pagination {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

div.niv {
    position: absolute;
    top: 158px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-width: 0 0 0 0;
    text-align: center;
    font-weight: bold;
    color: #FFCC00;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
}

div.init {
    position: absolute;
    top: 158px;
    left: 40px;
    width: 20px;
    height: 20px;
    border-width: 0 0 0 0;
    text-align: center;
    font-weight: bold;
    color: mediumvioletred;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
}

div.boss {
    position: absolute;
    top: 158px;
    right: 15px;
    width: 20px;
    height: 20px;
    border-width: 0 0 0 0;
    text-align: center;
    font-weight: bold;
    color: #0088AA;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
}

div.big_ico_fig {
    background: rgba(255,255,255,0.1) url('/static/kma_reports/img/fig_big.png') no-repeat 2px 2px/26px 26px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 15px;
    right: 375px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.big_ico_boss {
    background: rgba(255,255,255,0.1) url('/static/kma_reports/img/boss_big.png') no-repeat 2px 2px/26px 26px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 15px;
    right: 275px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.big_ico_niv {
    background: rgba(255,255,255,0.1) url('/static/kma_reports/img/niveau_big.png') no-repeat 2px 2px/26px 26px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 15px;
    right: 175px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.big_ico_init {
    background: rgba(255,255,255,0.1) url('/static/kma_reports/img/initiative_big.png') no-repeat 2px 2px/26px 26px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 15px;
    right: 75px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.total_fig {
    background: rgba(255,255,255,0.1) ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 15px;
    right: 345px;
    width: 30px;
    height: 30px;
    border-width: 0 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FAEBD7;
}

div.existe_boss {
    background: rgba(255,255,255,0.1) ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 15px;
    right: 245px;
    width: 30px;
    height: 30px;
    border-width: 0 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0088AA;
}

div.total_niv {
    background: rgba(255,255,255,0.1) ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 15px;
    right: 145px;
    width: 30px;
    height: 30px;
    border-width: 0 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFCC00;
}

div.total_init {
    background: rgba(255,255,255,0.1) ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 15px;
    right: 45px;
    width: 30px;
    height: 30px;
    border-width: 0 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: mediumvioletred;
}

div.check_fig {
    position: absolute;
    top: 21px;
    right: 305px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.check_boss {
    position: absolute;
    top: 21px;
    right: 205px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.check_niv {
    position: absolute;
    top: 21px;
    right: 105px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

div.check_init {
    position: absolute;
    top: 21px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-width: 0;
}

span {
  display: inline-block;
  vertical-align: text-top;
}
