header {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0px;
    height: 120px;
}

#krosympas {
    z-index: 100;
    position: absolute;
    left: -5px;
}

#kma {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 35px;
}

#connexion {
    z-index: 100;
    position: absolute;
    top: 17px;
    right: 10px;

}

#logout {
    z-index: 100;
    position: absolute;
    top: 47px;
    right: 9px;
    font-size: 16px;
}

#infos {
    z-index: 100;
    position: absolute;
    top: 77px;
    right: 9px;
    font-size: 16px;
}

#soutien {
    z-index: 100;
    position: absolute;
    top: 107px;
    right: 11px;
    font-size: 16px;
}

menu {
    position: absolute;
    left: 115px;
    right: 0px;
    top: -1px;
    height: 120px;
    border-top-right-radius: 20px;
    background: rgba(0,0,0,0.8);
}

#langue {
    z-index: 100;
    position: relative;
    left: -35px;
    font-size: 16px;
}

#MenuSeul menu {
    border-bottom-right-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    background: url('/static/kma_reports/img/Bonta.jpg') no-repeat center fixed;
    background-size: cover;
    font-size: 12px;
    color: antiquewhite;
}
a {
    color: antiquewhite;
    text-decoration: none;
}

a:link {
    color: antiquewhite;
    text-decoration: ;
}

/*a:visited {*/
    /*color: antiquewhite;*/
    /*text-decoration: none;*/
/*}*/

a:hover, a:active, a:focus {
    color: #FD992C;
    text-decoration: none;
    outline: 0;
}

h1, h2, h3, h4 {
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
}

body#PageStandard section#content {
    position: absolute;
    top: 135px;
    left: 15px;
    right: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
}

body#PageDeConnexion section#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 160px;
    margin: -20px 0 0 -250px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
    border-radius: 20px;
}

body#PageDeProfil section#content {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 800px;
    /*height: 400px;*/
    margin: 0 0 0 -400px;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-bottom: 50px;
    /*font-family: "Verdana", Tahoma, Arial, sans-serif;*/
}

body#PageDeSoutien section#content {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 800px;
    /*height: 400px;*/
    margin: 0 0 0 -400px;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-bottom: 50px;
    /*font-family: "Verdana", Tahoma, Arial, sans-serif;*/
}

body#PageUploadAWER section#content {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 500px;
    /*height: 400px;*/
    margin: 0 0 0 -250px;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    padding: 15px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
}

body#PageEncodeTournoi section#content {
    position: absolute;
    top: 135px;
    left: 15px;
    right: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
}

body#PageAffichageTournoi section#content {
    position: absolute;
    top: 135px;
    left: 15px;
    right: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
}

body#PageEncodeEquipe section#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 840px;
    height: 350px;
    margin: -115px 0 0 -420px;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
}

body header p#nom {
    font-size: 22px;
    font-weight: 900 ;
    margin: 20px 0 0 20px;
    color: antiquewhite;
}

body section#content {
    position: absolute;
    top: 100px;
    left: 0;
    margin: 0 0 0 0;
    padding: 0;
    z-index: 0;
}

.has-error .form-control {
    border-width: 2px;
}

section#TournoiInfosJoueurs {
    min-width: 610px;
}

a.boutonLien {
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #FFFFFF;
    padding: 2px 15px 3px 15px;
    texte-align: center;
    text-decoration: none;
}

.chapeau {
    margin: auto;
    position: static;
    max-width: 900px;
}

.chapeau_affichage {
    margin: auto;
    position: relative;
    max-width: 900px;
}

.pied {
    position: relative;
    top: 5px;
}

.corpshaut {
    margin: auto;
    position: static;
    /*background: #ff0000;*/
    max-width: 900px;
}

.corpsbas {
    margin: auto;
    position: relative;
    vertical-align: bottom;
    max-width: 900px;
}

.colonnes50 {
    position: relative;
    display: inline-block;
    width: 440px;
    margin: 10px 4px 4px 4px;
    vertical-align: top;
}

.derniers_tournois_resume {
    position: relative;
    top: 0;
    left: 0;
    width: 440px;
    /*height: 110px;*/
    background: rgba(0,0,0,0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 12px 0;
}

.dernieres_equipes {
    position: relative;
    bottom: 0;
    left: 0;
    width: 440px;
    height: 112px;
    background: rgba(0,0,0,0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 13px 0;
    padding: 6px;
}

.dernieres_equipes_text {
    text-align: right;
    vertical-align: bottom;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    top: 0;
    margin: 5px 0 5px 5px;
}

.dernieres_dates {
    position: relative;
    top: 0;
    left: 0;
    width: 440px;
    /*background: rgba(255,255,255,0.1);*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 5px 0;
}

.dernieres_dates_infos {
    position: relative;
    top: 0;
    left: 0;
    width: 440px;
    /*height: 110px;*/
    background: rgba(0,0,0,0.6);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dernieres_dates_bande {
    position: relative;
    /*margin: 5px 0 10px 0;*/
    width: 440px;
}

.dernieres_dates_date {
    position: relative;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 20px;
    margin: 5px 0 0 15px;
}

.dernieres_dates_nbrj {
    position: relative;
    float: right;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 20px;
    margin: 6px 10px 0 0;
}

.dernieres_dates_orga {
    /*position: relative;*/
    display: inline-block;
    vertical-align: bottom;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    top: 0;
    margin: 5px 0 5px 5px;
}

.dernieres_dates_joueur {
    position: relative;
    width: 440px;
    height: 100px;
    margin: 0 0 5px 0;
}

.top_equipes {
    position: relative;
    bottom: 0;
    left: 0;
    width: 440px;
    height: 51px;
    background: rgba(0,0,0,0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 13px 0;
    padding: 6px;
}

.top_equipes_map_mini {
    width: 50px;
    height: 50px;
    margin: 0 0 5px 3px;
}

.classement_equipe {
    position: relative;
    top: 0;
    left: 0;
    width: 440px;
    height: 88px;
    background: rgba(255,255,255,0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 5px 0;
}

.classement_place {
    position: absolute;
    display: flex;
    width: 48px;
    height: 58px;
    left: 3px;
    bottom: 3px;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: darkgrey;
    text-align: center;
}


.classement_nom {
    position: absolute;
    left: 3px;
    top: -6px;
    width: 292px;
    height: 20px;
    font-size: 24px;
    vertical-align: top;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
}

.classement_init {
    position: absolute;
    right: 5px;
    top: 2px;
    width: 50px;
    height: 20px;
    font-size: 14px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
    font-weight: bold;
    color: mediumvioletred;
}

.classement_figs {
    position: absolute;
    left: 54px;
    top: 26px;
    width: 348px;
    height: 40px;
}

.classement_fig_img {
    display: inline-block;
    border: 0;
    margin: 0 0 0 0;
    width: 39px;
    height: 39px;
}

.classement_Ds {
    position: absolute;
    left: 54px;
    top: 68px;
    width: 348px;
    height: 16px;
}

.classement_D {
    display: inline-block;
    margin: 0 2px 0 0;
    width: 163px;
    height: 15px;
}

.classement_D_mini {
    display: inline-block;
    margin: 0 2px 0 0;
    width: 123px;
    height: 15px;
}

.classement_D_text {
    font-size: 14px;
    color: black;
    text-align: left;
}

.infos_tournoi_bloc {
    position: relative;
    top: 0;
    left: 0;
    width: 440px;
    height: 260px;
    background: rgba(255,255,255,0.1);
    margin: 0 0 0 0;
}

.infos_tournoi_equipe {
    display: inline-block;
    vertical-align: top;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
    margin: 0 0 15px 5px;
}

.t_map {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 250px;
    height: 250px;
    margin: 0 0 0 0;
}

.t_map_mini {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 90px;
    height: 90px;
    margin: 0 0 0 0;
}

.t_org_logo {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100px;
    height: 100px;
}

.t_coorg_logo {
    position: absolute;
    top: 145px;
    right: 35px;
    width: 100px;
    height: 100px;
}

.ronde {
    position: relative;
    top: 0;
    left: 0;
    width: 440px;
    background: rgba(255,255,255,0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 10px 0 5px 0;
}

.ronde_num {
    width: 440px;
    height: 30px;
    background: rgba(0,0,0,0.6);
    border-top-right-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 2px;
    color: antiquewhite;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
}

.ronde_eq {
    display: inline-block;
    width: 185px;
    height: 24px;
    font-size: 16px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
    color: antiquewhite;
}

.ronde_vs {
    display: inline-block;
    width: 40px;
    height: 24px;
    font-size: 16px;
    color: darkgrey;
    text-align: center;
}

.match {
    position: relative;
    width: 430px;
    left: 50%;
    margin: 0 0 0 -215px;
}

.eq1 {
    text-align: right;
}

.eq2 {
    text-align: left;
}

div .txtintro_pseudo {
    position: relative;
    left: 50%;
    margin: 0 0 0 -295px;
    /*background: rgba(255,255,255,0.1);*/
    width: 610px;
}

div .bloc_pseudo {
    position: relative;
    left: 50%;
    margin: 0 0 0 -295px;
    background: rgba(255,255,255,0.1);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 610px;
}

div .joueur_pseudo {
    position: relative;
    left: 50%;
    margin: 0 0 0 -295px;
    width: 610px;
    height: 38px;
}

div#place {
    float: left;
    width: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 7px;
    padding-left: 7px;
    padding-right: 3px;
}

div#prenom {
    float: left;
    width: 180px;
    padding-left: 4px;
}

div#nom {
    float: left;
    width: 180px;
    padding-left: 4px;
}

div#pseudo {
    float: left;
    width: 180px;
    padding-left: 4px;
}

p#valide {
    margin-top: 4px;
    padding-top: 1px;
    text-align: center;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: larger;
}

p#titre {
    margin-left: 5px;
    margin-top: 8px;
    padding-top: 1px;
    text-align: center;
    font-weight: bold;
}

div#pts {
    float: left;
    width: 25px;
    text-align: right;
    font-weight: bold;
    margin-top: 7px;
    padding-left: 2px;
    padding-right: 3px;
}

div#Services {
    position: absolute;
    right: 0;
    margin: 0;
}

div#Services .service{
    float: right;
    width: 24px;
    margin: 0 0 0 5px;
}

.adresse {
    position: relative;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
    color: antiquewhite;
}

.infos_tournoi {
    display: inline-block;
    margin: 0 10px 0 0;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    color: antiquewhite;
    vertical-align: top;
}

.infos_organdco {
    display: inline-block;
    margin: 13px 10px 0 0;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 30px;
    color: antiquewhite;
    vertical-align: top;
}

.infos_eqj_nbrfois {
    display: inline-block;
    border: 0;
    margin: -12px 0 0 0;
    width: 39px;
    height: 39px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: darkgrey;
    text-align: center;
    padding-top: 10px;
}

.infos_nom_nbrfois {
    margin: -5px 0 0 10px;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.infos_nbrfois {
    margin: -6px 0 0 5px;
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #DD1144;
}

.infos_place_sur {
    display: inline-block;
    border: 0;
    margin: 0 0 5px 5px;
    width: 40px;
    height: 50px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    font-family: "Verdana", Tahoma, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: darkgrey;
    text-align: center;
    padding-top: 10px;
}

.infos_logo {
    float: right;
    margin-top: 10px;
}

.bande_figurines {
    position: relative;
    height: 135px;
    text-align: center;
}

/* Util pour centrer du texte dans un parent display: flex; */
.flex-center {
    margin: auto;
}

button {
    font-family: "Jura", Lucida grande, Tahoma, Verdana, Arial, sans-serif;
}


button[type="reset"] {
    color: darkred;
}

.important {
    color: red;
}

.positif {
    color: chartreuse;
}

.negatif {
    color: red;
}

.centre {
    text-align: center;
}

.droite {
    text-align: right;
}